
*~
*.class
*.jar
*.marks
*.orig
*.rej
.DS_Store
.swp


.vscode
.idea
contrib
heaps/
browser_info/
doc/*.pdf
lib/classes/
src/Tools/jEdit/dist/
src/Tools/VSCode/out/
src/Tools/VSCode/extension/out/
src/Tools/VSCode/extension/node_modules/
Admin/jenkins/ci-extras/target/
